.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  width: 100%;
  font-size: 0.9rem;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: var(--white);
  margin-top: 1rem;
  color: var(--theme);
  border: 1px solid var(--theme);
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.btn-blue {
  background-color: var(--theme);
  color: var(--white);
}

.btn:hover {
  opacity: 0.8;
  background-color: var(--theme);
  color: var(--white);
}
