.input-label {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.input-field {
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: var(--theme);
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.8rem 0 0;
}

.input-field:focus {
  outline: none;
  opacity: 0.8;
  transition: border-bottom-width 0.2s ease-in-out;
}

input::placeholder {
  color: grey;
  opacity: 1;
}
